@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
font-size: 16px;
}

body {
color: rgb(65, 65, 65);
background-color: rgb(240, 240, 240);
font-family: 'Montserrat', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
text-align: left;
line-height: 1.5;
margin: 0;
padding: 0;
}

nav {
display: flex;
margin: 3rem auto;
width: min(90%, 1000px);
}

.nav {
gap: 2rem;
}

.horiz {
flex-direction: row;
}

.wrap {
flex-wrap: wrap;
}

.sb {
justify-content: space-between;
}

.je {
justify-content: flex-end;
}

.js {
justify-content: flex-start;
}

h1 {
font-size: 4em;
background: url('images/night.jpeg') no-repeat center / cover;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

h2 {
font-size: 1.5rem;
}

a {
text-decoration: none;
color: rgb(52, 129, 253);
transition: opacity 0.1s;
}

a:hover, button:hover {
opacity: 0.5;
cursor: pointer;
}

.icon {
width: 2rem;
height: auto;
}

main {
text-align: left;
margin: -2.5rem 20%;
max-width: 1000px;
}

.navbar {
display: flex;
justify-content: center;
gap: 10px;
margin: 0;
padding: 0;
align-items: center;
transform: translateX(30%);
}

.nav-button {
display: inline-block;
padding: 10px 20px;
text-decoration: none;
color: #333;
font-size: 1rem;
font-weight: bold;
border: 2px solid #333;
border-radius: 10px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
background-color: #333;
color: #fff;
}

.horiz.js {
display: flex;
align-items: center;
}

.horiz.js a {
display: flex;
align-items: center;
padding: 10px;
margin-right: 20px;
}

.footer {
text-align: center;
padding: 20px 0;
color: #333;
font-size: 0.9rem;
position: relative;
bottom: 0;
width: 100%;
margin-top: -5%;
}

.footer p {
margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
    padding: 8px 0;
  }

  .navbar {
    transform: none; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    font-size: 0.85rem;
    padding: 9px 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 10px;
  }

  .nav-button {
    width: 100%;
    text-align: center;
    margin-bottom: 0; 
  }

  .nav-button {
    margin-bottom: 10px; 
  }
}
